<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xaxis.bbs.board.BoardDao">
		
	<resultMap id="boardConfigInfoResultMap" type="com.xaxis.bbs.model.BoardConfig">
		<id property="boardCode" column="boardCode" />
		<result property="categoryCode" column="categoryCode" />
		<result property="categoryName" column="categoryName" />
		<result property="adminFlag" column="adminFlag" />
		<result property="commentFlag" column="commentFlag" />
		<result property="attchementFlag" column="attchementFlag" />
		<result property="recommendanteFlag" column="recommendanteFlag" />
		<result property="replyFlag" column="replyFlag" />
		<result property="secretFlag" column="secretFlag" />
		<result property="registDate" column="registDate" />
		<result property="register" column="register" />
	</resultMap>
	
	<resultMap id="boardContentListResultMap" type="com.xaxis.bbs.model.Message">
		<id property="messageId" column="idx" />
		<result property="subject" column="subject" />
		<result property="boardCode" column="boardCode" />
		<result property="contentsIdx" column="contentsIdx" />
		<result property="nickName" column="nickname" />
		<result property="registDate" column="registDate" />
		<result property="register" column="register" />
		<result property="recommendanteCount" column="recommendanteCount" />
		<result property="viewCount" column="viewCount" />
		<result property="tags" column="tags" />
		<result property="parentMessageCode" column="parentIdx" />
		<result property="messageLevel" column="depth" />
		<result property="displayOrder" column="displayOrder" />
		<result property="updateDate" column="updateDate" />
		<result property="updater" column="updater" />
	</resultMap>
	
	<resultMap id="boardContentMessageResultMap" extends="boardContentListResultMap" type="com.xaxis.bbs.model.Message">
		<association property="message" column="{messageIdx=contentsIdx}" select="com.xaxis.bbs.board.BoardDao.getBoardMessageContent" />
	</resultMap>
	
	<resultMap id="messageContentResultMap" type="com.xaxis.bbs.model.MessageContent">
		<id property="contentsID" column="contentsID" />
		<result property="bytesMessage" column="messageContent" jdbcType="BLOB" javaType="byte[]" typeHandler="org.apache.ibatis.type.ByteArrayTypeHandler" />
	</resultMap>
	
	<!-- Board Config -->
	<select id="getBoardConfig" parameterType="map" resultMap="boardConfigInfoResultMap">
		SELECT
			board.boardCode,
			board.categoryCode,
			category.categoryName,
			board.adminFlag,
			board.commentFlag,
			board.attchementFlag,
			board.recommendanteFlag,
			board.replyFlag,
			board.secretFlag,
			board.registDate,
			board.register
		FROM
			board
			INNER JOIN category ON category.categoryCode=board.categoryCode
		WHERE
			board.boardCode=#{boardCode}
	</select>
	
	<select id="getBoardConfigList" resultMap="boardConfigInfoResultMap">
		SELECT
			board.boardCode,
			board.categoryCode,
			category.categoryName,
			board.adminFlag,
			board.commentFlag,
			board.attchementFlag,
			board.recommendanteFlag,
			board.replyFlag,
			board.secretFlag,
			board.registDate,
			board.register
		FROM
			board
			INNER JOIN category ON category.categoryCode=board.categoryCode
	</select>
	
	<insert id="insertBoardConfig" parameterType="com.xaxis.bbs.model.BoardConfig">
		INSERT INTO board 
			(boardCode, categoryCode, typeCode, adminFlag, commentFlag, attchementFlag, recommendanteFlag, replyFlag, secretFlag, registDate, register )
		VALUES
			(#{boardCode}, #{categoryCode}, #{boardTypeCode}, #{adminFlag}, #{commentFlag}, #{attchementFlag}, #{recommendanteFlag}, #{replyFlag}, #{secretFlag}, now(), #{register})
		<selectKey order="AFTER" keyProperty="id" resultType="long">
			SELECT count(boardCode) FROM board WHERE boardCode=#{boardCode}
		</selectKey>
	</insert>
	
	<update id="updateBoardConfig" parameterType="com.xaxis.bbs.model.BoardConfig">
		UPDATE board SET
			categoryCode=#{categoryCode},
			typeCode=#{boardTypeCode},
			adminFlag=#{adminFlag},
			commentFlag=#{commentFlag},
			attchementFlag=#{attchementFlag},
			recommendanteFlag=#{recommendanteFlag},
			replyFlag=#{replyFlag},
			secretFlag=#{secretFlag},
			updateDate=now(),
			updater=#{updater}
		WHERE 
			boardCode=#{boardCode}
	</update>
	
	<update id="deleteBoardConfig" parameterType="String">
		UPDATE board SET deleteFlag=1 WHERE boardCode=#{boardCode}
	</update>
	
	<!-- Message content -->	
	<select id="getBoardMessageList" parameterType="String" resultMap="boardContentListResultMap">
		SELECT
			idx,
			subject,
			boardCode,
			contentsIdx,
			secretCode,
			tags,
			viewCount,
			recommendanteCount,
			nickname,
			parentIdx,
			depth,
			displayOrder,
			registDate,
			register,
			updateDate,
			updater		
		FROM
			message
		WHERE
			deleteFlag=0
			AND boardCode=#{boardCode}		
	</select>	
	
	<select id="getBoardMessage" parameterType="map" resultMap="boardContentMessageResultMap">
		SELECT
			idx,
			subject,
			boardCode,
			contentsIdx,
			secretCode,
			tags,
			viewCount,
			recommendanteCount,
			nickname,
			parentIdx,
			depth,
			displayOrder,
			registDate,
			register,
			updateDate,
			updater		
		FROM
			message
		WHERE
			deleteFlag=0
			AND idx=#{messageCode}
	</select>
	
	<select id="isEqualsSecretCode" parameterType="map" resultType="int">
		SELECT count(*) FROM message WHERE idx=#{messageCode} AND secretCode=MD5(#{secretCode})
	</select>
	
	<select id="isMessageEqualsWriter" parameterType="map" resultType="int">
		SELECT count(*) FROM message WHERE idx=#{messageCode} AND register=#{userId}
	</select>
	
	<insert id="insertMessage" parameterType="com.xaxis.bbs.model.Message" useGeneratedKeys="true" keyProperty="messageId" keyColumn="idx" >
		INSERT INTO message
			( idx, subject, contentsIdx, boardCode, secretCode, recommendanteCount, viewCount, tags, topFlag, parentIdx, depth, displayOrder, nickName, registDate, register, deleteFlag )
		VALUES
			(NULL, #{subject}, #{contentsIdx}, #{boardCode}, MD5(#{secretCode}), 0, 0, #{tags}, #{topFlag}, #{parentMessageCode}, #{messageLevel}, #{displayOrder}, #{nickName}, now(), #{register}, 0)
		<selectKey order="AFTER" keyProperty="messageId" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<update id="updateMessage" parameterType="com.xaxis.bbs.model.Message">
		UPDATE message SET 
			subject=#{subject},
			boardCode=#{boardCode},
			tags=#{tags},
			topFlag=#{topFlag},
			updateDate=now(),
			updater=#{updater}
		WHERE
			idx=#{messageId}
	</update>
	
	<update id="deleteMessage" parameterType="map">		
		UPDATE message SET deleteFlag=1 WHERE idx=#{messageId}
	</update>
	
	<select id="getBoardMessageContent" parameterType="map" resultMap="messageContentResultMap">
		SELECT
			contentsIdx as contentsID,
			messageContents as messageContent
		FROM
			messageContents
		WHERE
			contentsIdx=#{messageIdx}
	</select>
	
	<insert id="insertMessageContent" parameterType="com.xaxis.bbs.model.MessageContent" useGeneratedKeys="true" keyProperty="contentsID" keyColumn="contentsIdx" >		
		INSERT INTO messageContents
			( contentsIdx, messageContents )
		VALUES 
			(NULL, #{bytesMessage, jdbcType=BLOB})
		<selectKey order="AFTER" keyProperty="contentsID" resultType="int">
		SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<update id="updateMessageContent" parameterType="com.xaxis.bbs.model.MessageContent">
		UPDATE messagecontents SET messageContents=#{bytesMessage, jdbcType=BLOB} WHERE contentsIdx=#{contentsID}
	</update>
	
</mapper>
