<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xaxis.bbs.category.CategoryDao">
	
	<resultMap id="categoryResultMap" type="Category">
		<id property="categoryCode" column="categoryCode" />
		<result property="categoryName" column="categoryName" />
	</resultMap>
	
	<select id="getCategoryAllList" resultMap="categoryResultMap">
		SELECT categoryCode, categoryName FROM category WHERE deleteFlag=0
	</select>
	
	<select id="getCategoryItem" parameterType="String" resultType="Category">
		SELECT categoryCode, categoryName FROM category WHERE categoryCode=#{categoryCode}
	</select>
	
	<update id="updateCategoryItem" parameterType="Category">
		UPDATE category SET categoryName=#{categoryName} WHERE categoryCode=#{categoryCode}
	</update>
	
	<delete id="deleteCategoryItem" parameterType="String">
		DELETE FROM category WHERE categoryCode=#{categoryCode}
	</delete>
</mapper>